@using CustoDN.Domain
@model IEnumerable<Customer>

@{
}

<table style="width:100%">
    <thead>
        <tr>
            <th><b>First Name</b></th>
            <th><b>Last Name</b></th>
            <th><b>Company Name</b></th>
            <th><b>Email</b></th>
            <th><b>Phone</b></th>
            <th><b>Billing Address</b></th>
        </tr>
    </thead>
    <tbody ng-app ng-controller="read">
        @foreach (var customer in Model)
        { @Html.Partial("_Read", customer) }
        @Html.Partial("_Create", new Customer())
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script type="text/javascript">
        function read($scope,$http) {
            $scope.edit = function (id) {
                $http.get("Customer/Edit/" + id).success(function (data) {
                    document.getElementById(id).innerHTML = data;
                });
            }

            $scope.submit = function(customer) {
                $http.post("Customer/Submit/", customer).success(function (data) {
                    document.getElementById(customer["Id"]).innerHTML = data;
                });
            }
        }
    </script>
}
